  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Qualification</th>
        <th scope="col">Board/University/Collage name</th>
        <th scope="col">Persentage</th>
        <th scope="col">Year of passing</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <th scope="row">Class X</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          </tr>
        <tr>
          <th scope="row">Class XII</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
        </tr>
        <tr>
          <th scope="row">Graduate</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
        </tr>
       <tr>
          <th scope="row">Post-Graduate</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control"></td>
        </tr>
    </tbody>
  </table>
  
        <!-- Default unchecked -->
    <div class="checkbox">
        <div class = "box-layout">
      <label style="font-weight: bolder;font-size: 20px;padding: 20px;">Interestd Courses</label>
      <mdb-checkbox [default]="true" style="margin: 10px;">Big Data</mdb-checkbox>
      <mdb-checkbox [default]="true"style="margin: 10px;">Python</mdb-checkbox>
      <mdb-checkbox [default]="true"style="margin: 10px;">Machine Learning</mdb-checkbox>
      <mdb-checkbox [default]="true"style="margin: 10px;">Angular</mdb-checkbox>
      </div>      
  </div>
  
  <button mdbBtn type="button" color="deep-purple" class="waves-light" mdbWavesEffect>Submit</button>
