

.layout {
    display: flex;
    margin: 20px;

}

.layout .md-form {
    margin: 20px;
}

.addres-container {
    margin-left: 2%;
    margin-right: 30%;
}

.btn {
    margin: 40px;
    background-color: lightblue;
    color: black;
    font-weight: bold;
    padding: 20px 50px;
}

.btn:hover {
    color: white;
    background-color: blueviolet;
}

input:hover{
    background-color:lightcyan;
    border: none;
    opacity: 20px;
}

.layout-radio {
    display: flex;
    margin: 2%;
}

.checkbox {
    padding: 10px;
    display: flex;
    border: none;
    flex-direction: column;
}

.waves-light {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2-btn {
    display: flex;
}

.browser-default {
    padding: 15px 50px; 
    margin: 40px 0px 50px;
    text-align: center;
    font-size: 20px;
}

    