
<!--<form [formGroup]="student-details">-->
        <div class="layout">
        <!-- User name  -->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="inputIconEx2" class="form-control" placeholder="First name" >
                <label for="inputIconEx2"></label>
            </div>

            <div class="md-form">   
                    <input type="text" id="inputIconEx2" class="form-control" placeholder="Middle name" >
                    <label for="inputIconEx2"></label>
                </div>

            <!-- Last name  -->
            <div class="md-form">
                    <input type="text" id="inputIconEx2" class="form-control" placeholder="Last name" >
                    <label for="inputIconEx2"></label>
                </div>

        </div>

        <div class="layout">
                <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="inputIconEx1" class="form-control">
                        <label for="inputIconEx1">E-mail address</label>
                    </div>

                    <div class="md-form">
                            <input type="text" id="inputIconEx1" class="form-control">
                            <label for="inputIconEx1">Phone number</label>
                    </div>
        </div>

<!-- Adress-->
    <div class="addres-container">
        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <!-- Default input -->
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <!-- Grid row -->
        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="New York City">
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" placeholder="11206-1117">
            </div>
        </div>
    </div>    
    <!-- Adress -->

    <button type="button" class="btn" (click) = "onNext()">Next</button>
    <button type="button" class="btn">Clear</button>
<!--</form> -->