
<form  *ngIf = "!showForm" >
    <div class="layout">
        <!-- User name  -->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="inputIconEx2" class="form-control" [(ngModel)] = "studentdetail.firstName" placeholder="First name"  name="firstName" #firstName="ngModel" required>
                <label for="inputIconEx2"></label>
            </div>

            <div class="md-form">   
                    <input type="text" id="inputIconEx2" class="form-control" placeholder="Middle name" [(ngModel)] = "studentdetail.middlename" name="middlename" #middlename="ngModel" required>
                    <label for="inputIconEx2"></label>
                </div>

            <!-- Last name  -->
            <div class="md-form">
                    <input type="text" id="inputIconEx2" class="form-control" placeholder="Last name"  [(ngModel)] = "studentdetail.lastName" name="lastName" #lastName="ngModel" required>
                    <label for="inputIconEx2"></label>
                </div>

        </div>
    <!--email adress-->
        <div class="layout">
                <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="inputIconEx1" class="form-control"  placeholder="E-mail adress" [(ngModel)] = "studentdetail.email" name="email" #email="ngModel" pattern = "[a-zA-z0-9]+@[a-z]+\.[a-z]{2,3}" required>
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors.required">Email is required</div>
                               <div *ngIf="email.errors.pattern">Invalid Email</div>
                        </div>
                    </div>

                    <div class="md-form">
                        <input type="text" id="inputIconEx1" class="form-control" placeholder="Phone number" [(ngModel)] = "studentdetail.phone" name="phone" #phone="ngModel" pattern="[0-9]+" required minlength="10" maxlength="10">
                        <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                          <div *ngIf="phone.errors.pattern">Phone number</div>
                        </div>   
                    </div>
        </div>


        <!-- Radio buttion-->
        <div class="layout-radio">    
                 <div class="form-check mr-3">
                    <input class="form-check-input" value="1" name="group1" type="radio" id="radio11"  mdbInputDirective>
                    <label class="form-check-label" for="radio11">Female</label>
                </div>
            
                <div class="form-check mr-3">
                    <input class="form-check-input" value="2"name="group1" type="radio" id="radio21" mdbInputDirective>
                    <label class="form-check-label" for="radio21">Male</label>
                </div>
            
                <div class="form-check mr-3">
                    <input class="form-check-input" name="group1" type="radio" id="radio31" mdbInputDirective>
                    <label class="form-check-label" for="radio31">Other</label>
                </div>
        </div>

<!-- Adress-->
    <div class="addres-container">
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" [(ngModel)] = "studentdetail.adress" name="adress" #adress="ngModel" required>
        </div>

        <div class="form-row">
  
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Banglore" [(ngModel)] = "studentdetail.city" name="city" #city="ngModel" required>
            </div>

            <div class="form-group col-md-6">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip" placeholder="560076" [(ngModel)] = "studentdetail.zip" name="zip" #zip="ngModel" minlength="6" maxlength="6" required>
            </div>
        </div>
    </div>    
    <!-- Adress -->

    <button  type="button" [disabled]="showForm.Invalid" class="btn" (click) = "onNext()">Next</button>
    <!--<button type="button" class="btn"  (click) = "onRest()"> Reset </button>-->
</form>

<!--</form> -->


<!--Form 2-->
<table class="table table-hover" *ngIf = "showForm" >
    <thead>
      <tr>
        <th scope="col">Qualification</th>
        <th scope="col">Board/University/Collage name</th>
        <th scope="col">Persentage</th>
        <th scope="col">Year of passing</th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <th scope="row">Class X</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.b1" ></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.b2" ></td>
          <td><input mdbInputDirective type="number" id="form1" class="form-control" [(ngModel)] = "education.b3" ></td>
          </tr>
        <tr>
          <th scope="row">Class XII</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.c1" ></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.c2" ></td>
          <td><input mdbInputDirective type="number" id="form1" class="form-control"[(ngModel)] = "education.c3" ></td>
        </tr>
        <tr>
          <th scope="row">Graduate</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.d1"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.d2"></td>
          <td><input mdbInputDirective type="number" id="form1" class="form-control" [(ngModel)] = "education.d3"> </td>
        </tr>
       <tr>
          <th scope="row">Post-Graduate</th>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.e1"></td>
          <td><input mdbInputDirective type="text" id="form1" class="form-control" [(ngModel)] = "education.e2"></td>
          <td><input mdbInputDirective type="number" id="form1" class="form-control" [(ngModel)] = "education.e3"></td>
        </tr>
    </tbody>
  </table>

    <div class slect-item *ngIf = "showForm">
        <select class="browser-default" [(ngModel)]="education.list" (change)="change(education.list)">
            <option value="" disabled>Choose your option</option>
            <option value="1">Angular 6</option>
            <option value="2">Java</option>
            <option value="3">Python</option>
            <option value="4">Machine Learning</option>
            <option value="5">Big Data</option>
        </select>
    </div>

  <div class="form2-btn">
    <button mdbBtn type="button" color="deep-purple" class="waves-light" mdbWavesEffect *ngIf = "showForm"(click) = "showForm=False"  >previous</button>
    <button mdbBtn type="button" color="deep-purple" class="waves-light" mdbWavesEffect *ngIf = "showForm" (click) = "showForm=true" >Submit</button>
  </div>
  

